h2{
    color:rgb(163, 123, 70)
}

body{
    background-color:rgb(238, 229, 217);
    color:rgb(92, 78, 58);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}